/** General Styling **/

html {
  background-color: #F7F7F7;
}

header {
  color: #726D52;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

nav {
  font-size: 20px;
}

nav h4 {
  text-align: left;
  font-size: 15px;
  font-weight: lighter;
}

footer {
  width: 100%;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  color: inherit;
  font-size: 50px;
}

h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
   font-size: 40px;
}

h2 span {
    background:#fff;
    padding:0 10px;
    background-color: #F7F7F7;
}

h3 {
  font-size: 25px;
}

form {
  padding-top: 15px;
}

table {
  padding-top: 30px;
  padding-left: 20px;
  width: 100%;
}

th, td{
  border: 1px solid black;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

td img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-left: 8px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a:hover {
  color: #D9B68C;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

p {
  font-family: 'Raleway', sans-serif;
}

/** Div General Styling **/

.auto-columns {
  column-count: 4;
}

.item {
  padding-right: 20px;
}

.wrapper {
  height: 100%;
}

.photo {
  width: 70%;
  padding-left: 15%;
  padding-bottom: 50px;
}

.photo img {
  width: 100%;
}

.row {
  width: 100%;
  padding-top: 20px;
  display: inline;
  height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row h2 span {
  padding-top: 15px;
}


.row p {
  padding-left: 10%;
  padding-right: 10%;
}

.coloum {
  width: 33%;
  float: left;
}

.coloum p {
  width: 70%;
  padding-left: 15%;
}

/** Page Styling CSS **/

/** Contact **/
.contact {
  text-align: left;
}

.contact textarea {
  width: 95%;
}

/** Home Page CSS **/
.POWHome {
  width: 70%;
  padding-left: 15%;
  padding-bottom: 50px;
}

.POWHome img {
  width: 100%;
}

.AboutSnip {
  padding-top: 30px;
  width: 60%;
  padding-left: 20%;
  padding-bottom: 30px;
}

/** Prisoner Page styling**/
.halfsplit {
  width: 50%;
  float: left;
}

.halfsplit p {
  text-align: left;
  padding-left: 20px;
}

.powphoto {
  width: 30%;
  float: left;
  height: 100%;
}

.powtext {
  width: 70%;
  float: left;
  height: 100%;
}

.powtext p {
  padding: 20px;
}

/** About Page Styling **/
.abouttext {
  width: 60%;
  float: left;
}

.abouttext p {
  padding-top: 30px;
  padding-left: 30px;
  text-align: left;
}

.aboutphoto {
  width: 40%;
  float: left;
  padding-top: 30px;
}

.aboutphoto img {
  width: 100%;
}

/** Search Page Styling **/
.searchWrapper {
  padding-bottom: 30px;
}

.alphabet {
  color: #D9B68C;
  padding-top: 30px;
  font-size: 20px;
}
