{% extends 'layout.html' %}
{% block content %}
<h2><span>Search</span></h2>
<div class="searchWrapper">
   <form method="POST" action={{ url_for('search') }}>
       {{ searchform.csrf_token }}
       {{ searchform.query }}{{ searchform.options }}{{ searchform.submit }}
   </form>
   <p>Search via Surname for a Prisoner</p>
 </div>
<h2><span>View by Letter</span></h2>
<div class="alphabet">
<a href="/results/a">A</a>
<a href="/results/b">B</a>
<a href="/results/c">C</a>
<a href="/results/d">D</a>
<a href="/results/e">E</a>
<a href="/results/f">F</a>
<a href="/results/g">G</a>
<a href="/results/h">H</a>
<a href="/results/i">I</a>
<a href="/results/j">J</a>
<a href="/results/k">K</a>
<a href="/results/l">L</a>
<a href="/results/m">M</a>
<a href="/results/n">N</a>
<a href="/results/o">O</a>
<a href="/results/p">P</a>
<a href="/results/q">Q</a>
<a href="/results/r">R</a>
<a href="/results/s">S</a>
<a href="/results/t">T</a>
<a href="/results/u">U</a>
<a href="/results/v">V</a>
<a href="/results/w">W</a>
<a href="/results/x">X</a>
<a href="/results/y">Y</a>
<a href="/results/z">Z</a>
</div>
<p>Browse by surname initial.</p>


{% endblock %}
