<!DOCTYPE html>

<html>
  <head>
    <title>New Zealand Prisoner of War Records</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/double_submission.js"></script>
    <!-- Importing font from Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      {% include 'nav.html' %}
      {% include 'header.html' %}
    </header>
    <div class="wrapper">
    {% block content %} {% endblock %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>
