{% extends 'layout.html' %}
{% block content %}

<h2><span>Results for {{search}}</span></h2>

<h3>Prisoner Results</h3>
<!-- Checks to see if the search returned results-->
{% if p is not none %}
  <!--If there is, then it loops through the results-->
  {% for pow in p %}
    <p><a href="/pow/{{pow.id}}">{{pow.service_number}} - {{pow.Rank.initial}} {{pow.initial}}. {{pow.surname}}</a></p>
  {% endfor %}
{% else %}
  <!--If there's no results, then it displays no results-->
  <p>No Results</p>
{% endif %}

<h3>Unit Results</h3>
{% if u is not none %}
  {% for r in u %}
    <p><a href="/unit/{{r.id}}">{% if r.fullname is not none %}{{r.fullname}}{% else %}{{r.name}}{% endif %}</a></p>
  {% endfor %}
{% else %}
<p>No Results</p>
{% endif %}

<h3>Rank Results</h3>
{% if r is not none %}
  {% for r in r %}
    <p><a href="/rank/{{r.id}}">{% if r.name is not none %}{{r.name}}{% else %}{{r.initial}}{% endif %}</a></p>
  {% endfor %}
{% else %}
  <p>No Results</p>
{% endif %}

<h3>Capture Results</h3>
{% if c is not none %}
  {% for r in c %}
    <p><a href="/capture/{{r.id}}">{{r.fulldate}}</a></p>
  {% endfor %}
{% else %}
  <p>No Results</p>
{% endif %}

{% endblock %}
