{% extends 'layout.html' %}
{% block content %}

<h2><span>Results for {{search}}</span></h2>

<h3>Prisoner Results</h3>
<!-- Checks to see if the search returned results-->
{% if prisoners is not none %}
  <!--If there is, then it loops through the results-->
  {% for pow in prisoners %}
    <p><a href="/pow/{{pow.id}}">{{pow.service_number}} - {{pow.Rank.initial}} {{pow.initial}}. {{pow.surname}}</a></p>
  {% endfor %}
{% else %}
  <!--If there's no results, then it displays no results-->
  <p>No Results</p>
{% endif %}

<h3>Unit Results</h3>
{% if units is not none %}
  {% for unit in units %}
    <p><a href="/unit/{{unit.id}}">{% if unit.fullname is not none %}{{unit.fullname}}{% else %}{{unit.name}}{% endif %}</a></p>
  {% endfor %}
{% else %}
<p>No Results</p>
{% endif %}

<h3>Rank Results</h3>
{% if ranks is not none %}
  {% for rank in ranks %}
    <p><a href="/rank/{{rank.id}}">{% if rank.name is not none %}{{rank.name}}{% else %}{{rank.initial}}{% endif %}</a></p>
  {% endfor %}
{% else %}
  <p>No Results</p>
{% endif %}

<h3>Capture Results</h3>
{% if captures is not none %}
  {% for capture in captures %}
    <p><a href="/capture/{{capture.id}}">{{capture.fulldate}}</a></p>
  {% endfor %}
{% else %}
  <p>No Results</p>
{% endif %}

{% endblock %}
