<nav>
  <!--Displays the username and logout when user is logged in, if not login and sign up appear-->
  <h4>Welcome {% if current_user.is_authenticated %}
    <a href="/user/{{current_user.username}}">{{current_user.username}}</a>
    {% endif %} | {% if current_user.is_anonymous %}
  <a href="/login">Login</a> / <a href="/register">Sign Up</a>
  {% else %}
  <a href="/logout">Logout</a>
  {% endif %}
  </h4>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/browse">Search</a></li>
  </ul>
</nav>
<h4>
  <!--This displays any flash messages that the routes have raised, and will be seen on all pages -->
  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><span style="color: red;">{{ message }}</span></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</h4>
