<nav>
  <h4>Welcome {{current_user.username}} | {% if current_user.is_anonymous %}
  <a href="/login">Login</a>/<a href="/register">Sign Up</a>
  {% else %}
  <a href="/logout">Logout</a>
  {% endif %}
  </h4>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/browse">Search</a></li>
  </ul>
  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
</nav>
