{% extends 'layout.html' %}
{% block content %}
<h2><span>{{ prisoner.Rank.initial }}. {{ prisoner.surname }}</span></h2>
<div class="row">
  <div class="powphoto">
    <table>
    <tr>
      <td>
        {% if prisoner.photo is not none %}
        <img src="{{prisoner.photo}}"
        alt="{{prisoner.Rank.name}} {{prisoner.initial}}. {{prisoner.surname}} - Photo">
        Photo of {{prisoner.Rank.name}} {{prisoner.initial}}. {{prisoner.surname}}
        {% else %}
        {% for u in prisoner.units %}
        <img src="{{u.unit.photo}}" alt="{{u.unit.name}} - Photo">
        Photo of {{u.unit.name}}
        {% endfor %}{% endif %}</td>
    </tr>

    <tr>
      <td>Service Number: {{prisoner.service_number}}</td>
    </tr>

    <tr>
      <td>Rank: <a href="/rank/{{prisoner.Rank.id}}">{{prisoner.Rank.name}}</a></td>
    </tr>

      <tr>
        <!-- Loops through each Unit attached to the POW, and links them seperately-->
        <td>Unit:{% for u in prisoner.units %}<a href="/unit/{{u.unit.id}}"> {{u.unit.name}}</a>{% endfor %}</td>
      </tr>

      <tr>
        <td>Capture: <a href="/capture/{{prisoner.Capture.id}}">{{prisoner.Capture.date}}</a></td>
      </tr>
    </table>
  </div>

  <div class="powtext">
    <p>{{prisoner.Rank.name}} {% if prisoner.first_names is not none %}{{prisoner.first_names}}{% else %}{{prisoner.initial}}{% endif %} {{prisoner.surname}} served in the
      {% for u in prisoner.units %} {{u.unit.fullname}} {% endfor %} in the Second New Zealand
      Expeditionary Force (2NZEF). Unfortunately {{inor}} {{prisoner.Capture.date}} he was
      captured along with {{count}} other soldiers {{sent}}.<br></p>
      <h3>Rank.</h3>
      <p>{{prisoner.Rank.desc}}</p>
      <h3>Unit.</h3>
      {% for u in prisoner.units %}
      <p>{{u.unit.desc}}</p>
      {% endfor %}
      <h3>Capture.</h3>
      <p>{{prisoner.Capture.desc}}</p>
  </div>
</div>

<div class="row">
  <h2><span>Comments</span></h2>
  <div class="halfsplit">
    <!-- Only displays the Comment ability if the user is logged in-->
    {% if current_user.is_anonymous %}
    <p>To comment on a Prisoner's profile you need to login in.
      <a href="/login">Click Here to Login!</a>
    </p>
    {% elif current_user.is_authenticated %}
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.comment.label }}<br>
          {{ form.comment(size=100) }}<br>
          {% for error in form.comment.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    <h3>Track Prisoner</h3>
    <!--Only displays the tracking option if the user is logged in and not tracking already -->
    {% if current_user.is_anonymous %}
      <p>To track a prisoner you need to login. <a href="/login">Click here to login!</a></p>
    {% elif tracked is not none %}
      <p>You're already tracking this prisoner.</p>
      <p><a href="/deltrack/{{prisoner.id}}">Click here to stop tracking!</a></p>
    {% else %}
    <p>If you would like to get notified when someone comments on this prisoner's
      page, <a href="/track/{{prisoner.id}}/{{current_user.id}}">select to track this prisoner!</a></p>
    {% endif %}
  </div>

  <div class="halfsplit">
    <!--Loops through all associated comments-->
      {% for c in prisoner.comments %}
      <p>
        {{c.User.username}}
        {% if current_user.username == c.User.username %}
        <a href="/delete/{{c.User.id}}/{{c.id}}"> - Delete Comment</a> <br>
        {% endif %}<br>
        {{c.comment}} <br><br>
      </p>
      {% endfor %}
  </div>
</div>

{% endblock %}
