{% extends 'layout.html' %}
{% block content %}
<h2><span>Showing Results for {{search}}</span></h2>
<p>Displaying {{count}} Results.</p>
<div class="row">
  <div class="coloum">
    {% for r in u1 %}
      <p><a href="/unit/{{r.id}}">{% if r.fullname is not none %}{{r.fullname}}{% else %}{{r.name}}{% endif %}</a></p>
    {% endfor %}
  </div>
  <div class="coloum">
    {% for r in u2 %}
      <p><a href="/unit/{{r.id}}">{% if r.fullname is not none %}{{r.fullname}}{% else %}{{r.name}}{% endif %}</a></p>
    {% endfor %}
  </div>
  <div class="coloum">
    {% for r in u3 %}
      <p><a href="/unit/{{r.id}}">{% if r.fullname is not none %}{{r.fullname}}{% else %}{{r.name}}{% endif %}</a></p>
    {% endfor %}
  </div>
</div>
{% endblock %}
