{% extends 'layout.html' %}
{% block content %}

<h2><span>Hi {{user.username}}</span></h2>
<div class="row">
  <div class="halfsplit">
    <h3>Comments</h3>
    {% for c in comments %}
    <p><a href="/pow/{{c.powid}}">{{c.comment}} on {{c.Prisoner.Rank.initial}}. {{c.Prisoner.surname}}'s page</a></p>
    {% endfor %}
    <h3>Tracked Prisoners</h3>
    {% for t in tracked %}
      <p><a href="/pow/{{t.Prisoner.id}}">{{t.Prisoner.Rank.initial}}. {{t.Prisoner.surname}}</a></p>
      <p><a href="/deltrack/{{t.Prisoner.id}}">Remove from tracking list?</a></p>
    {% endfor %}
  </div>
  <div class="halfsplit">
    <h3>Account Details</h3>
    <p>Username: {{current_user.username}}
    <br>
    Email: {{current_user.email}}
    </p>
    <br>
    <br>
    <a href='/update_password'>Change Password</a>
    <br>
    <br>
    <a href='/update_email'>Change Email</a>
    <br>
    <br>
    <a href="/delete_account">Delete Account</a>
  </div>
</div>
{% endblock %}
